@import '../mixins/mixin.scss';
@import '../variables/variable';

/*==========================================================================================================
                                                banner part start
============================================================================================================*/
#banner {
    background: #150035;
    padding: 80px 0 220px;
    position: relative;

    .ban {
        position: relative;


        .banner_img {
            position: absolute;
            top: 50%;
            left: -7%;
            transform: translateY(-50%);

            img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                height: 600px;
            }
        }
    }

    .banner_text {
        margin-left: 100px;

        h4 {
            @include fs(#fff, 20px, 400, $nouito);
            text-align: left;
        }

        h1 {
            @include fs(#fcb100, 305px, 400, $anton);
            background: -webkit-linear-gradient(bottom, #fdb125 0%, #e07e1e 51%, #fcb100 54%);
            background-clip: text;
            @include head;
            -webkit-text-fill-color: transparent;
            margin-top: -40px;
        }

        p {
            @include fs(#fff, 16px, 400, $nouito);
            text-align: center;
            line-height: 26px;
            margin-top: -28px;
        }
    }

    a {
        @include fs(#fff, 24px, 400, $anton);
        @include button_blue;
        padding: 14px 30px;
        border-radius: 5px;
        box-shadow: 0 6px 0 0 rgba(58, 0, 144, 0.589);
        margin-top: 25px;
        @include text_shd_blu;

        &:hover {
            background: $hover;
            box-shadow: 0 6px 0 0 #661355;
            @include button;
            @include text_shd_hov;
        }
    }
}

/*==========================================================================================================
                                                banner part end
============================================================================================================*/