@import '../mixins/mixin.scss';
@import '../variables/variable';

/*================================================================================================
                                            claim part start
=================================================================================================*/
#claim {
    padding: 100px 0 30px;
    background: #150035;

    .claim_text {
        margin-left: 76px;

        h2 {
            @include fs(#fdba06, 48px, 400, $anton);
            margin-bottom: 50px;
            @include head();
        }

        p {
            @include fs(#fff, 16px, 400, $nouito);
            line-height: 26px;

            span {
                display: block;
                margin-top: 25px;
            }
        }

        a {
            @include fs(#fff, 20px, 400, $anton);
            @include button_blue;
            padding: 10px 30px;
            margin-top: 50px;
            border-radius: 5px;
            box-shadow: 0 6px 0 0 rgba(58, 0, 144, 0.589);
            @include text_shd_blu;

            &:hover {
                background: $hover;
                box-shadow: 0 6px 0 0 #661355;
                @include button;
                @include text_shd_hov;
            }
        }
    }
}

/*================================================================================================
                                            claim part end
=================================================================================================*/