@import '../mixins/mixin.scss';
@import '../variables/variable';

/*=========================================================================================================
                                                membership  part start
===========================================================================================================*/
.mem_padding {
    padding: 0 0 110px !important;

    .mem_pd {
        padding-top: 40px;
    }
}

.about_pd {
    padding: 170px 0 0 !important;
}

/*=========================================================================================================
                                                membership part end
===========================================================================================================*/