@import '../mixins/mixin.scss';
@import '../variables/variable';

/*=========================================================================================================
                                                membership  part start
===========================================================================================================*/
#pricing {
    padding: 0 0 110px;

    .mem_pd {
        padding-top: 40px;
    }
}

#about_game {
    padding: 170px 0 0;
}

/*=========================================================================================================
                                                membership part end
===========================================================================================================*/