@import '../mixins/mixin.scss';
@import '../variables/variable';

/*================================================================================================
                                            claim part start
=================================================================================================*/
#banner_404 {
    padding: 100px 0;
    background: #150035;

    a {
        @include fs(#fff, 24px, 400, $anton);
        @include button_blue;
        padding: 10px 30px;
        border-radius: 5px;
        margin-top: 50px;
        box-shadow: 0 6px 0 0 rgba(58, 0, 144, 0.589);

        &:hover {
            background: $hover;
            box-shadow: 0 6px 0 0 #661355;
            @include button;
        }
    }
}

/*================================================================================================
                                            claim part end
=================================================================================================*/