@import '../mixins/mixin.scss';
@import '../variables/variable';

/*=========================================================================================================
                                                pricing part start
===========================================================================================================*/
#pricing {
    padding: 95px 0 110px;
    background: #0b001b;

    .pric_head {
        h2 {
            @include fs(#fdba06, 48px, 400, $anton);
            margin-bottom: 10px;
            @include head;
        }
    }

    .plan {

        .member {
            position: relative;
            transition: all linear .3s;

            &:hover {
                transform: translateY(30px);

                .plan_link {
                    a {
                        background: linear-gradient(bottom, #a60084 0%, #ff39dc 100%);
                        box-shadow: 0 6px 0 0 #661355;
                        @include text_shd_hov;
                    }
                }

                .plan_item {
                    border-radius: 0 0 5px 5px;
                }

                .plan_head {
                    opacity: 1;
                }
            }

            .plan_head {
                opacity: 0;
                transition: all linear .3s;

                h3 {
                    @include fs(#fff, 20px, 600, $nouito);
                    padding: 20px 0;
                    width: 100%;
                    background: linear-gradient(bottom, #a60084 0%, #ff39dc 100%);
                    border-bottom: 6px solid #661355;
                    border-radius: 5px 5px 0 0;
                }
            }

            .plan_item {
                padding: 50px 0;
                background: linear-gradient(bottom, #570dc8 0%, #9e4efc 100%);
                border-radius: 5px;

                h3 {
                    @include fs(#fff, 32px, 400, $anton);
                    text-shadow: 3px 3px 0px #5813b8 !important;
                }

                h2 {
                    @include fs(#fff, 50px, 700, $nouito);
                    margin-top: 15px;
                }

                p {
                    @include fs(#fff, 14px, 400, $nouito);
                    border-bottom: 1px solid #6427b4;
                    padding-bottom: 30px;
                }

                ul {
                    margin-top: 15px;

                    li {
                        @include fs(#fff, 16px, 600, $nouito);
                        padding: 10px 0;
                    }
                }
            }

            .plan_link {
                position: absolute;
                top: 87%;
                left: 28%;
                transition: all linear .3s;

                a {
                    @include fs(#fff, 20px, 400, $anton);
                    background: linear-gradient(bottom, #570dc8 0%, #9e4efc 100%);
                    padding: 10px 30px;
                    margin-top: 50px;
                    border-radius: 5px;
                    box-shadow: 0 6px 0 0 rgba(58, 0, 144, 0.589);
                    transition: all linear .3s;
                    @include text_shd_blu;
                }
            }
        }
    }
}

/*=========================================================================================================
                                                pricing part end
===========================================================================================================*/